:root{
    --primary-color: hsl(217, 12%, 63%);
    --secondary-color: hsl(0, 0%, 100%);
    --accent-color: hsl(25, 97%, 53%);
    --body-bg: hsl(216, 12%, 8%);
    --card-bg: hsl(213, 19%, 18%);
    --radio-hover-bg: hsl(216, 12%, 54%);
}

html{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body, h1, p, fieldset, input, button{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    vertical-align: baseline;
}

body{
    background-color: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    background: radial-gradient(circle at top center, var(--card-bg) 10%, hsl(213, 19%, 10%));
    margin-inline: 1.5em;
    padding: 1.5em 1.5em 2em 1.5em;
    border-radius: 1rem;
    overflow: hidden;
    max-width: calc(375px - 6em);
}

.hidden{display: none;}

section{    
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

section h1{
    color: var(--secondary-color);
}

section p{
    font-size: 0.95rem;
    color: var(--primary-color);
    line-height: 1.5;
}

#rating img{
    background-color: var(--card-bg);
    padding: 0.75rem;
    border-radius: 50%;
    height: 0.8em;
}

#rating label{
    display: flex;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

#rating input[type="radio"]{
    display: none;
}

.radios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 0.5em 1.5em;
}

.radios input[type="radio"]:checked + label{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.radios input[type="radio"]:not(:checked) + label{
    color: var(--primary-color);
    background-color: var(--card-bg);
}

.radios input[type="radio"]:not(:checked) + label:hover{
    background-color: var(--radio-hover-bg);
    color: var(--secondary-color);
    cursor: pointer;
}

#rating .btn{
    width: 100%;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding-block: 1em;
    text-transform: uppercase;
    border-radius: 2em;
    letter-spacing: 0.2em;
    font-weight: bold;
    cursor: pointer;
}

#rating .btn:hover, #rating .btn:focus-visible{
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

#thankyou{
    align-items: center;
    text-align: center;
}

#thankyou img{
    height: 5.5em;
}

#thankyou #result{
    background-color: var(--card-bg);
    color: var(--accent-color);
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 0.9rem;
}

@media only screen and (min-width: 500px) {
    main{
        padding: 2em;
        border-radius: 1rem;
        max-width: calc(375px - 4em);
    }

    #rating label{
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }

    #thankyou p{
        font-size: 0.92rem;
    }
}
